.square {
  background: #d5b85a;
  border: 1px solid #999;
  float: left;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.square:disabled {
  cursor: not-allowed;
}

.square .value {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  color: #444;
}

.square .instructions {
  font-size: 1.3rem;
  color: #999;
}
